/**
 * @Main scss for (Template/Project Name)
 * @project     - Style Maven
 * @author      -
 * @created_by  - Shakib
 * @created_at  -
 * @modified_by -
 */


/* reset, root */
@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    background-color: #F0EDE6 !important;
}

:root {
    --primary-color: #2E2A2A;
    --secondary-color: #222021;
    --dark: #1B2622;
    --dark-2: #32403B;
    --gray-1: #65736E;
    --aliceblue: #e7efff;
    --pink: #65736E;
    --lavender: #ffedf2;
    --dark: #101044;
    --eastbay: #54547a;
    --stormgrey: #6f6f87;
    --manatee: #8d8dae;
    --solitude: #e9e9f1;
    --lavender2: #f2f2fb;
    --lavender3: #f9f9fe;
    --skyblue: #219fff;
    --aliceblue2: #e9f6ff;
    --green: #17bd8d;
    --greenlight: #e9fbf6;
    --yellow: #ffa114;
    --floralwhite: #fff7eb;
    --sunsetorange: #ff4e3e;
    --rose: #ffedec;
    --lavender4: #e1deff;
    --columbiablue: #b0ddff;
    --rose2: #ffe6e4;
}

.primary-color {
    color: #2E2A2A;
}

.secondary-color {
    color: #2E2A2A;
}

// fonts clases
.font-primary-400 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.font-primary-500 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.font-Secondary-400 {
    font-family: "Oranienbaum", serif;
    font-weight: 400;
}

/* fonts import -END */


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


/* reset, root - END */
@media (min-width: 1400px) {
    .container {
        max-width: 1337px !important;
    }
}

img {
    max-width: 100% !important;
    height: auto !important;
}

/* helper , base classes */

// font size
.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 1px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-32 {
    font-size: 32px;
}

.fs-38 {
    font-size: 32px;
}

.fs-40 {
    font-size: 40px;
}

.fs-46 {
    font-size: 46px;
}


.fs-64 {
    font-size: 64px;
}

.fw-400 {
    font-weight: 400;
}

.lh-120 {
    line-height: 120%;
}



// buttons
.yellow-dark-btn {
    padding: 16px 40px;
    border-radius: 100px;
    background: linear-gradient(90deg, #FFBA33 0%, #DF9B96 48.44%, #BD7BFF 100%);
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: Oranienbaum;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 118.75%;
    letter-spacing: 1px;
    text-transform: capitalize;
}

h2 {
    color: var(--primary-color);
    text-align: center;
    font-family: Oranienbaum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: capitalize;

}

.btn-black {
    padding: 15.79px 25px 16.21px 25px;
    color: #FFF;
    background-color: #000;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
        background-color: #333;
        transform: translateY(-2px);
    }

    @media (max-width:375px) {
        padding: 10px 10px;
        font-size: 10px;
        line-height: 100%;
    }
}

.btn-outline {
    padding: 15.79px 25px 16.21px 25px;
    color: #000;
    background-color: transparent;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
        background-color: #000;
        color: #FFF;
        transform: translateY(-3px);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }

    @media (max-width:375px) {
        padding: 10px 10px;
        font-size: 10px;
        line-height: 100%;
    }
}


/* helper , base classes  - END*/

// nav start 
// nav {
//     background: #222021;
//     --bs-navbar-padding-y: 0 !important;

//     .navbar-nav {
//         padding: 22px 0 22px 0;
//         .nav-item {
//             a {}
//         }
//     }
    
// }

nav {
    background: #222021;
    --bs-navbar-padding-y: 0 !important;
    .navbar-brand{
        font-size: 30px !important;
        color: #FFF;
    }
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    flex: 0 0 10%;
}

.navbar-nav {
    flex: 0 0 80%;
    padding: 22px 0;
    justify-content: center;
    gap: 70px;
}

.d-lg-flex {
    flex: 0 0 10%;
    justify-content: flex-end;
}


// banner start 
.banner {
    padding: 528px 0 90px 0;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @media (max-width:375px) {
        padding: 70px 0;
    }

    .Hero-heading {
        max-width: 600px;
        text-align: center;

        @media (max-width:1199px) {
            font-size: 50px;
        }

        @media (max-width:991px) {
            font-size: 40px;
        }

        @media (max-width:767px) {
            font-size: 38px;
        }

        @media (max-width:575px) {
            font-size: 36px;
        }

        @media (max-width:375px) {
            font-size: 30px;
        }
    }

    .hero-buttons {
        padding-top: 20px;
    }

    .banner-subhead .Hero-heading {
        padding-bottom: 14px;
    }
}

// banner end 

// brand start 
.brand {
    padding: 60px 0 60px 0;

    @media (max-width:375px) {
        padding: 20px 0;
    }

}

// brand end

// arrivals start 
.arrivals {
    padding: 100px 0 100px 0;

    @media (max-width:375px) {
        padding: 20px 0;
    }

    .arrivals-wrapper {
        .arrivals-heading {
            padding-bottom: 14px;
        }

        .arrivals-subheading {
            padding-bottom: 14px;
        }

        .hero-buttons {
            padding-bottom: 60px;
        }

        // swiper js 
        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .arrivals-colors {
            width: 20px;
            height: 20px;
        }
    }
}

// fashion start 
.fashion {
    .fashion-left {
        @media (max-width:375px) {
            padding-bottom: 20px;
        }
    }

    .fashion-item {
        .arrivals-slide-item-image {
            img {
                @media (max-width:375px) {
                    width: 100%;
                }
            }

        }

        .arrivals-slide-item-detail {
            @media (max-width:375px) {
                padding-bottom: 16px !important;
                padding-top: 16px !important;
            }
        }

        .arrivals-colors-wrapper {
            @media (max-width:375px) {
                justify-content: left !important;
            }
        }
    }
}

// feature end 
.features {
    padding: 100px 0;

    @media (max-width:375px) {
        padding: 20px 0;
    }

    .feature-top {
        padding-bottom: 100px;
    }

    .feature-main {
        gap: 50px;

        @media (max-width:375px) {
            gap: 20px;
        }

        .first-row {
            gap: 200px;

            @media (max-width:991px) {
                gap: 100px;
            }

            @media (max-width:575px) {
                gap: 50px;
            }
        }
    }

    .feature-name {
        @media (max-width:991px) {
            font-size: 30px;
        }

        @media (max-width:575px) {
            font-size: 26px;
        }

        @media (max-width:375px) {
            font-size: 16px;
        }
    }







}

// feature end

// counter start 
.counter {
    padding: 100px 0;
    background-color: #E2D7D7;

    @media (max-width:375px) {
        padding: 20px 0;
    }

    .arrivals-heading {
        padding-bottom: 24px;
    }

    .timer-group {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 25px;
        flex-wrap: wrap;
        padding-bottom: 24px;

        .time-box {
            display: flex;
            flex-direction: column;
            align-items: center;

            .time-value {
                font-size: 64px;
                line-height: 100%;
                letter-spacing: -1px;

                @media (max-width:375px) {
                    font-size: 30px;

                }
            }

            .time-label {
                font-size: 14px;
                line-height: 120%;
                letter-spacing: -1px;
                margin-top: 4px;
                color: #333;
            }

        }

        .colon {
            font-size: 2.5rem;
            font-weight: 400;
        }

    }

}

// counter end

// order details start
.order-details {
    .order-details-wrapper {
        .thumbnail {
            cursor: pointer;
            margin-bottom: 15px;
            border: 2px solid transparent;
        }

        .thumbnail.active {
            border-color: #000;
        }

        .color-dot {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 10px;
            cursor: pointer;
            border: 2px solid #ccc;
        }

        .color-dot.active {
            border-color: #000;
        }

        .size-btn {
            margin-right: 10px;
        }

        .product-subhead {
            line-height: 120%;
            letter-spacing: -1px;
            color: #2E2A2A;

            @media (max-width:375px) {
                margin-bottom: 5px;
                margin-top: 15px;
            }
        }

        .product-heading {
            color: #2E2A2A;
            line-height: normal;
            letter-spacing: -2px;

            @media (max-width:375px) {
                font-size: 30px;
            }
        }

        .order-count {
            @media (max-width:375px) {
                flex-direction: column;
                justify-content: left;
            }
        }





    }
}

// order details end

// instagram start 
.instagram {
    padding: 100px 0;

    @media (max-width:375px) {
        padding: 20px 0;
    }

    .instagram-wrapper {
        .section-top {
            padding-bottom: 70px;

            h2 {
                margin-bottom: 0 !important;
            }
        }

        .insta-image {
            .insta-images {
                img {
                    width: 100vw;
                }
            }
        }
    }
}

// instagram end

// newsletter start 
.newsletter {
    padding: 150px 0;



    .newsletter-wrapper {
        .newsletter-heading {
            letter-spacing: -0.92px;
            padding-bottom: 26px;
        }

        .newsletter-details {
            max-width: 614px;
        }

        .subscribe-box {
            position: relative;
            text-align: center;

            &::before {
                position: absolute;
                content: "";
                background-image: url(../assets/manimage.png);
                background-repeat: no-repeat;
                width: 300px;
                height: 630px;
                top: -300px;
            }

            &::after {
                position: absolute;
                content: "";
                background-image: url(../assets/manimagew2.png);
                width: 300px;
                height: 630px;
                top: -300px;
                background-repeat: no-repeat;
                right: 0;

            }
        }

        .form-control {
            border-radius: 0;
            padding: 1rem;
            font-size: 1rem;
            box-shadow: none;
            max-width: 631px;
        }

        .btn-dark {
            border-radius: 0;
            padding: 0.75rem 2rem;
            font-size: 0.75rem;
            letter-spacing: 2px;
            max-width: 381px;
        }
    }
}


// about Page css start 


// trend section start 
.trend {
    padding: 100px 0;

    .trend-wrapper {
        .trend-left-top {
            h4 {
                line-height: 103.125%;
                max-width: 325px;
            }
        }

        .trend-bottom {
            .trend-bottom-details {
                line-height: 170%;
                letter-spacing: -0.16px;
                padding-bottom: 40px;
                padding-top: 30px;
            }

        }
    }
}

// trend section end

// discover section start 
.discover {
    padding: 0 0px 100px 0;
}

// discover section end

// craft section start 
.craft {
    .craft-left-block {
        padding: 40px;
        background: #F8F3EF;

        .craft-left-block-head {
            padding-bottom: 185px;
        }
    }

    .craft-right-block {
        .top-block-img {
            padding-bottom: 160px;
        }

        .designers {
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.10);

            h4 {
                line-height: 120%;
            }

            p {
                line-height: 150%;
            }
        }
    }
}

// craft section end

// team start 
.team {
    padding: 100px 0;
}

// team end 


//  ring start 
.ring {
    padding: 100px 0;

    .ring-wrapper {
        .ring-right-block {
            padding: 90px;
            background-color: #FFF;
        }

        .ring-left-block,
        .ring-right-block {
            height: 100%;
        }
    }
}

//  ring end

// shop start 
.shop {
    padding: 100px 0;

    .shop-wrapper {
        .shopSwiper {
            .swiper-wrapper {
                .swiper-slide {
                    .shop-subheading {
                        line-height: 120%;
                        letter-spacing: -1px;
                    }

                    .shop-heading {
                        line-height: normal;
                        letter-spacing: -1px;
                        color: #2E2A2A;
                    }

                    .shop-item-price {
                        line-height: 120%;
                        letter-spacing: -1px;
                        color: #2E2A2A;
                    }
                }

            }

        }
    }


}