/**
 * @Main scss for (Template/Project Name)
 * @project     - Style Maven
 * @author      -
 * @created_by  - Shakib
 * @created_at  -
 * @modified_by -
 */
/* reset, root */
@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  background-color: #F0EDE6 !important;
}

:root {
  --primary-color: #2E2A2A;
  --secondary-color: #222021;
  --dark: #1B2622;
  --dark-2: #32403B;
  --gray-1: #65736E;
  --aliceblue: #e7efff;
  --pink: #65736E;
  --lavender: #ffedf2;
  --dark: #101044;
  --eastbay: #54547a;
  --stormgrey: #6f6f87;
  --manatee: #8d8dae;
  --solitude: #e9e9f1;
  --lavender2: #f2f2fb;
  --lavender3: #f9f9fe;
  --skyblue: #219fff;
  --aliceblue2: #e9f6ff;
  --green: #17bd8d;
  --greenlight: #e9fbf6;
  --yellow: #ffa114;
  --floralwhite: #fff7eb;
  --sunsetorange: #ff4e3e;
  --rose: #ffedec;
  --lavender4: #e1deff;
  --columbiablue: #b0ddff;
  --rose2: #ffe6e4;
}

.primary-color {
  color: #2E2A2A;
}

.secondary-color {
  color: #2E2A2A;
}

.font-primary-400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.font-primary-500 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.font-Secondary-400 {
  font-family: "Oranienbaum", serif;
  font-weight: 400;
}

/* fonts import -END */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* reset, root - END */
@media (min-width: 1400px) {
  .container {
    max-width: 1337px !important;
  }
}
img {
  max-width: 100% !important;
  height: auto !important;
}

/* helper , base classes */
.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 1px;
}

.fs-16 {
  font-size: 16px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-40 {
  font-size: 40px;
}

.fs-46 {
  font-size: 46px;
}

.fs-64 {
  font-size: 64px;
}

.fw-400 {
  font-weight: 400;
}

.lh-120 {
  line-height: 120%;
}

.yellow-dark-btn {
  padding: 16px 40px;
  border-radius: 100px;
  background: linear-gradient(90deg, #FFBA33 0%, #DF9B96 48.44%, #BD7BFF 100%);
}

h1 {
  color: #FFF;
  text-align: center;
  font-family: Oranienbaum;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 118.75%;
  letter-spacing: 1px;
  text-transform: capitalize;
}

h2 {
  color: var(--primary-color);
  text-align: center;
  font-family: Oranienbaum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.btn-black {
  padding: 15.79px 25px 16.21px 25px;
  color: #FFF;
  background-color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.btn-black:hover {
  background-color: #333;
  transform: translateY(-2px);
}
@media (max-width: 375px) {
  .btn-black {
    padding: 10px 10px;
    font-size: 10px;
    line-height: 100%;
  }
}

.btn-outline {
  padding: 15.79px 25px 16.21px 25px;
  color: #000;
  background-color: transparent;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.btn-outline:hover {
  background-color: #000;
  color: #FFF;
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
@media (max-width: 375px) {
  .btn-outline {
    padding: 10px 10px;
    font-size: 10px;
    line-height: 100%;
  }
}

/* helper , base classes  - END*/
.banner {
  padding: 528px 0 90px 0;
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 375px) {
  .banner {
    padding: 70px 0;
  }
}
.banner .Hero-heading {
  max-width: 600px;
  text-align: center;
}
@media (max-width: 1199px) {
  .banner .Hero-heading {
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  .banner .Hero-heading {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .banner .Hero-heading {
    font-size: 38px;
  }
}
@media (max-width: 575px) {
  .banner .Hero-heading {
    font-size: 36px;
  }
}
@media (max-width: 375px) {
  .banner .Hero-heading {
    font-size: 30px;
  }
}
.banner .hero-buttons {
  padding-top: 20px;
}
.banner .banner-subhead .Hero-heading {
  padding-bottom: 14px;
}

.brand {
  padding: 60px 0 60px 0;
}
@media (max-width: 375px) {
  .brand {
    padding: 20px 0;
  }
}

.arrivals {
  padding: 100px 0 100px 0;
}
@media (max-width: 375px) {
  .arrivals {
    padding: 20px 0;
  }
}
.arrivals .arrivals-wrapper .arrivals-heading {
  padding-bottom: 14px;
}
.arrivals .arrivals-wrapper .arrivals-subheading {
  padding-bottom: 14px;
}
.arrivals .arrivals-wrapper .hero-buttons {
  padding-bottom: 60px;
}
.arrivals .arrivals-wrapper .swiper {
  width: 100%;
  height: 100%;
}
.arrivals .arrivals-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrivals .arrivals-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.arrivals .arrivals-wrapper .arrivals-colors {
  width: 20px;
  height: 20px;
}

@media (max-width: 375px) {
  .fashion .fashion-left {
    padding-bottom: 20px;
  }
}
@media (max-width: 375px) {
  .fashion .fashion-item .arrivals-slide-item-image img {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .fashion .fashion-item .arrivals-slide-item-detail {
    padding-bottom: 16px !important;
    padding-top: 16px !important;
  }
}
@media (max-width: 375px) {
  .fashion .fashion-item .arrivals-colors-wrapper {
    justify-content: left !important;
  }
}

.features {
  padding: 100px 0;
}
@media (max-width: 375px) {
  .features {
    padding: 20px 0;
  }
}
.features .feature-top {
  padding-bottom: 100px;
}
.features .feature-main {
  gap: 50px;
}
@media (max-width: 375px) {
  .features .feature-main {
    gap: 20px;
  }
}
.features .feature-main .first-row {
  gap: 200px;
}
@media (max-width: 991px) {
  .features .feature-main .first-row {
    gap: 100px;
  }
}
@media (max-width: 575px) {
  .features .feature-main .first-row {
    gap: 50px;
  }
}
@media (max-width: 991px) {
  .features .feature-name {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .features .feature-name {
    font-size: 26px;
  }
}
@media (max-width: 375px) {
  .features .feature-name {
    font-size: 16px;
  }
}

.counter {
  padding: 100px 0;
  background-color: #E2D7D7;
}
@media (max-width: 375px) {
  .counter {
    padding: 20px 0;
  }
}
.counter .arrivals-heading {
  padding-bottom: 24px;
}
.counter .timer-group {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 25px;
  flex-wrap: wrap;
  padding-bottom: 24px;
}
.counter .timer-group .time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter .timer-group .time-box .time-value {
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -1px;
}
@media (max-width: 375px) {
  .counter .timer-group .time-box .time-value {
    font-size: 30px;
  }
}
.counter .timer-group .time-box .time-label {
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -1px;
  margin-top: 4px;
  color: #333;
}
.counter .timer-group .colon {
  font-size: 2.5rem;
  font-weight: 400;
}

.order-details .order-details-wrapper .thumbnail {
  cursor: pointer;
  margin-bottom: 15px;
  border: 2px solid transparent;
}
.order-details .order-details-wrapper .thumbnail.active {
  border-color: #000;
}
.order-details .order-details-wrapper .color-dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid #ccc;
}
.order-details .order-details-wrapper .color-dot.active {
  border-color: #000;
}
.order-details .order-details-wrapper .size-btn {
  margin-right: 10px;
}
.order-details .order-details-wrapper .product-subhead {
  line-height: 120%;
  letter-spacing: -1px;
  color: #2E2A2A;
}
@media (max-width: 375px) {
  .order-details .order-details-wrapper .product-subhead {
    margin-bottom: 5px;
    margin-top: 15px;
  }
}
.order-details .order-details-wrapper .product-heading {
  color: #2E2A2A;
  line-height: normal;
  letter-spacing: -2px;
}
@media (max-width: 375px) {
  .order-details .order-details-wrapper .product-heading {
    font-size: 30px;
  }
}
@media (max-width: 375px) {
  .order-details .order-details-wrapper .order-count {
    flex-direction: column;
    justify-content: left;
  }
}

.instagram {
  padding: 100px 0;
}
@media (max-width: 375px) {
  .instagram {
    padding: 20px 0;
  }
}
.instagram .instagram-wrapper .section-top {
  padding-bottom: 70px;
}
.instagram .instagram-wrapper .section-top h2 {
  margin-bottom: 0 !important;
}
.instagram .instagram-wrapper .insta-image .insta-images img {
  width: 100vw;
}

.newsletter {
  padding: 150px 0;
}
.newsletter .newsletter-wrapper .newsletter-heading {
  letter-spacing: -0.92px;
  padding-bottom: 26px;
}
.newsletter .newsletter-wrapper .newsletter-details {
  max-width: 614px;
}
.newsletter .newsletter-wrapper .subscribe-box {
  position: relative;
  text-align: center;
}
.newsletter .newsletter-wrapper .subscribe-box::before {
  position: absolute;
  content: "";
  background-image: url(../assets/manimage.png);
  background-repeat: no-repeat;
  width: 300px;
  height: 630px;
  top: -300px;
}
.newsletter .newsletter-wrapper .subscribe-box::after {
  position: absolute;
  content: "";
  background-image: url(../assets/manimagew2.png);
  width: 300px;
  height: 630px;
  top: -300px;
  background-repeat: no-repeat;
  right: 0;
}
.newsletter .newsletter-wrapper .form-control {
  border-radius: 0;
  padding: 1rem;
  font-size: 1rem;
  box-shadow: none;
  max-width: 631px;
}
.newsletter .newsletter-wrapper .btn-dark {
  border-radius: 0;
  padding: 0.75rem 2rem;
  font-size: 0.75rem;
  letter-spacing: 2px;
  max-width: 381px;
}/*# sourceMappingURL=style.css.map */