/**
 * @Main scss for (Template/Project Name)
 * @project     - Style Maven
 * @author      -
 * @created_by  - Shakib
 * @created_at  -
 * @modified_by -
 */


/* reset, root */
@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    background-color: #F0EDE6;
}

:root {
    --primary-color: #2E2A2A;
    --secondary-color: #222021;
    --dark: #1B2622;
    --dark-2: #32403B;
    --gray-1: #65736E;
    --aliceblue: #e7efff;
    --pink: #65736E;
    --lavender: #ffedf2;
    --dark: #101044;
    --eastbay: #54547a;
    --stormgrey: #6f6f87;
    --manatee: #8d8dae;
    --solitude: #e9e9f1;
    --lavender2: #f2f2fb;
    --lavender3: #f9f9fe;
    --skyblue: #219fff;
    --aliceblue2: #e9f6ff;
    --green: #17bd8d;
    --greenlight: #e9fbf6;
    --yellow: #ffa114;
    --floralwhite: #fff7eb;
    --sunsetorange: #ff4e3e;
    --rose: #ffedec;
    --lavender4: #e1deff;
    --columbiablue: #b0ddff;
    --rose2: #ffe6e4;
}

.primary-color {
    color: #2E2A2A;
}

.secondary-color {
    color: #2E2A2A;
}

// fonts clases
.font-primary-400 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.font-primary-500 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.font-Secondary-400 {
    font-family: "Oranienbaum", serif;
    font-weight: 400;
}

/* fonts import -END */


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


/* reset, root - END */
@media (min-width: 1400px) {
    .container {
        max-width: 1337px !important;
    }
}

img {
    max-width: 100% !important;
    height: auto !important;
}

/* helper , base classes */

// font size
.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 1px;
}

.fs-16 {
    font-size: 16px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-40 {
    font-size: 40px;
}

.fs-46 {
    font-size: 46px;
}


.fs-64 {
    font-size: 64px;
}

.fw-400 {
    font-weight: 400;
}

.lh-120 {
    line-height: 120%;
}



// buttons
.yellow-dark-btn {
    padding: 16px 40px;
    border-radius: 100px;
    background: linear-gradient(90deg, #FFBA33 0%, #DF9B96 48.44%, #BD7BFF 100%);
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: Oranienbaum;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 118.75%;
    letter-spacing: 1px;
    text-transform: capitalize;
}

h2 {
    color: var(--primary-color);
    text-align: center;
    font-family: Oranienbaum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: capitalize;

}

.btn-black {
    padding: 15.79px 25px 16.21px 25px;
    color: #FFF;
    background-color: #000;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
        background-color: #333;
        transform: translateY(-2px);
    }
}

.btn-outline {
    padding: 15.79px 25px 16.21px 25px;
    color: #000;
    background-color: transparent;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
        background-color: #000;
        color: #FFF;
        transform: translateY(-3px);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }
}


/* helper , base classes  - END*/

// banner start 
.banner {
    padding: 528px 0 90px 0;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .Hero-heading {
        max-width: 600px;
        text-align: center;
    }

    .hero-buttons {
        padding-top: 20px;
    }

    .banner-subhead .Hero-heading {
        padding-bottom: 14px;
    }
}

// banner end 

// brand start 
.brand {
    padding: 60px 0 60px 0;
}

// brand end

// arrivals start 
.arrivals {
    padding: 100px 0 100px 0;

    .arrivals-wrapper {
        .arrivals-heading {
            padding-bottom: 14px;
        }

        .arrivals-subheading {
            padding-bottom: 14px;
        }

        .hero-buttons {
            padding-bottom: 60px;
        }

        // swiper js 
        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .arrivals-colors {
            width: 20px;
            height: 20px;
        }
    }
}